.Container {
  margin: 50px;
}

#webcam {
  margin: auto;
}

#webcamButton {
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.camView {
  display: flex;
  flex-direction: column;
}
