.Container {
  margin: 50px;
}

#webcam {
  margin: auto;
}

#webcamButton {
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.camView {
  display: flex;
  flex-direction: column;
}
.canvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  left: 0;
  right: 0;
  z-index: 9;
}
#webcam {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  left: 0;
  right: 0;
  z-index: 8;
}
